<!DOCTYPE html>


<html>
  <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="initial-scale=1, width=device-width, viewport-fit=cover"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>Academia</title>
  </head>
  <body>
    <header>
      <img class="logo" src="./img/logogym.jpg" alt="Imagen da Academia" />

      <h2>Maromba GYM</h2>

      <p>Bem vindo a academia Maromba GYM</p>

      <div class="botoes">
        <button id="bt1">Calculo IMC</button>
        <button id="bt2">Selecione o Treino</button>
        <button class="bt3">Ver relatorio</button>
      </div>

    </header>
    <section class="form hide">
      <h2>Entre com os dados</h2>

      <form action="/">
        <input type="number" name="peso" ng-model="peso" placeholder="Peso" />

        <input
          type="number"
          name="altura"
          ng-model="altura"
          placeholder="Altura"
        />

        <button>Calcular</button>
      </form>
      
    </section>

    <section id="formTreino">
      <h2>Entre com os dados</h2>

      <form action="/">
        <input type="number" name="peso" ng-model="peso" placeholder="Peso" />

        <input
          type="number"
          name="altura"
          ng-model="altura"
          placeholder="Altura"
        />

        <button>Calcular</button>
      </form>
    </section style="display: none;">

    

    <main></main>

    <footer>
      MarombaGym Fitness
    </footer>

    <script src="js/scripts.js"></script>
  </body>
</html>
